<%= form_for([@evento]) do |form| %>	

  <% if @evento.errors.any? %>
    <div id="error_explanation">
      <h2>
        Nao foi possivel criar o evento.</br>
        Total de erros: <%= @evento.errors.count %></br>
        Veja:	
      </h2>
      <ul>
        <% @evento.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


	<p>
	<%= form.collection_select(:cliente_id, Cliente.all, :id, :nome) %>
	</p>
	
  <p>
    <%= form.label :data_evento %><br>
    <%= form.text_field :data_evento %>
  </p>
 
  <p>
    <%= form.label :local_evento %><br>
    <%= form.text_field :local_evento %>
  </p>
  
  <p>
    <%= form.label :hora_montagem %><br>
    <%= form.text_field :hora_montagem %>
  </p>
  
  <p>
    <%= form.label :hora_desmontagem %><br>
    <%= form.text_field :hora_desmontagem %>
  </p>
  
  <%= form.fields_for :historicos do |hist| %>
  	<%= render 'historicos_fields', :historico => hist %>
  <% end %>
  
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Lista de Eventos', eventos_path %>