<%= form_for([@locai]) do |form| %>	

  <% if @locai.errors.any? %>
    <div id="error_explanation">
      <h2>
        Nao foi possivel criar o local.</br>
        Total de erros: <%= @locai.errors.count %></br>
        Veja:	
      </h2>
      <ul>
        <% @locai.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :nome %><br />
    <%= form.text_field :nome %>
  </p>
  
  <p>
    <%= form.label :endereco %><br />
    <%= form.text_field :endereco %>
  </p>
  
  
  <p>
    <%= form.label :cidade %><br />
    <%= form.text_field :cidade %>
  </p>
  
  
  <p> 
    <%= form.label :estado %><br />
    <%= form.text_field :estado %>
  </p>
  
  
  <p>
    <%= form.label :horario_montagem %><br />
    <%= form.text_field :horario_montagem %>
  </p>
  
  
  <p>
    <%= form.label :horario_desmontagem %><br>
    <%= form.text_field :horario_desmontagem %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Lista de Locais', locals_path %>