<%= form_for([@local]) do |form| %>	

  <% if @local.errors.any? %>
    <div id="error_explanation">
      <h2>
        Nao foi possivel criar o local.</br>
        Total de erros: <%= @local.errors.count %></br>
        Veja:	
      </h2>
      <ul>
        <% @local.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :nome %> <%= form.text_field :nome %>
  </p>
  
  <p> 
    <%= form.label :nome_contato %> <%= form.text_field :nome_contato %><br />
    <%= form.label :telefone %> <%= form.text_field :telefone %><br />
    <%= form.label :email %> <%= form.text_field :email %><br />
  </p>
  
  <p>
    <%= form.label :endereco %>  <%= form.text_field :endereco %><br />
    <%= form.label :cidade %> <%= form.text_field :cidade %><br />
    <%= form.label :estado %> <%= form.text_field :estado %><br />
    <%= form.label :horario_montagem %> <%= form.text_field :horario_montagem %><br />
    <%= form.label :horario_desmontagem %> <%= form.text_field :horario_desmontagem %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Lista de Locais', locals_path %>