  <section class="wrapper site-min-height">
	<h3><i class="fa fa-angle-right"></i> Detalhes do local</h3>
	<div class="row mt">
		<div class="col-lg-12">

			<h1>Nome: <%= @local.nome %></h1>
  
			  <p>
			    <strong>Pessoa de contato:</strong> <%= @local.nome_contato %><br />
			    <strong>E-mail:</strong> <%= @local.email %><br />
			    <strong>Telefone:</strong> <%= @local.telefone %><br />
			  </p>
  
			  <p>
			    <strong>Endereço:</strong> <%= @local.endereco %><br />
			    <strong>Cidade:</strong> <%= @local.cidade %><br /> 
			    <strong>Estado:</strong> <%= @local.estado %><br />
			    <strong>Horario de montagem:</strong> <%= @local.horario_montagem %><br />
			    <strong>Horario de desmontagem:</strong> <%= @local.horario_desmontagem %>
			  </p>
  		</div>
	</div>

</section><! --/wrapper -->