  <h1>
	Detalhes do local: <%= @local.nome %>
  </h1>
  
  <p>
    <strong>Pessoa de contato:</strong> <%= @local.nome_contato %><br />
    <strong>E-mail:</strong> <%= @local.email %><br />
    <strong>Telefone:</strong> <%= @local.telefone %><br />
  </p>
  
  <p>
    <strong>Endereço:</strong> <%= @local.endereco %><br />
    <strong>Cidade:</strong> <%= @local.cidade %><br /> 
    <strong>Estado:</strong> <%= @local.estado %><br />
    <strong>Horario de montagem:</strong> <%= @local.horario_montagem %><br />
    <strong>Horario de desmontagem:</strong> <%= @local.horario_desmontagem %>
  </p>
  