<%= form_for([@evento]) do |form| %>	

  <% if @evento.errors.any? %>
    <div id="error_explanation">
      <h2>
        Nao foi possivel criar o evento.</br>
        Total de erros: <%= @evento.errors.count %></br>
        Veja:	
      </h2>
      <ul>
        <% @evento.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <p>
  	Cliente: <%= form.collection_select(:cliente_id, Cliente.all, :id, :nome) %>
  </p>
	
  <p>
    <%= form.label :data_evento %><%= form.text_field :data_evento, class: 'datepicker' %>
  </p>
 
 <p>
    Nova Data<input type='text' id='datepicker' class='hasDatepicker' />
  </p>
  <p>
  	Local do Evento: <%= form.collection_select(:local_id, Local.all, :id, :nome) %>
  </p>
  
  <p>
  	Tipo de Evento: <%= form.collection_select(:tipo_evento_id, TipoEvento.all, :id, :descricao) %>
  </p>
  
  <p>
  	Status do evento: <%= form.select :evento_status, Evento::STATUS.map{|status| [status[1], status[0]]} %>
  </p>

  <p>
    <%= form.submit "Salvar" %>
  </p>
<% end %>