<%= form_for @evento do |form| %>	

  <% if @evento.errors.any? %>
    <div id="error_explanation">
      <h2>
        Nao foi possivel criar o evento.</br>
        Total de erros: <%= @evento.errors.count %></br>
        Veja:	
      </h2>
      <ul>
        <% @evento.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <p>
  	Cliente: <%= form.collection_select(:cliente_id, Cliente.all, :id, :nome) %>
  </p>
	
  <p>
    Data do Evento: <%= form.text_field :data_evento, class: 'datepicker' %>
  </p>

  <p>
  	Local do Evento: <%= form.collection_select(:local_id, Local.all, :id, :nome) %>
  </p>
  
  <p>
  	Tipo de Evento: <%= form.collection_select(:tipo_evento_id, TipoEvento.all, :id, :descricao) %>
  </p>
  
  
  <p>
    Hora montagem: <%= form.text_field :hora_montagem, class: 'datepicker' %>
  </p>
  <p>
    Hora desmontagem: <%= form.text_field :hora_desmontagem, class: 'datepicker' %>
  </p>
  
  <p>
  	Status do evento: <%= form.select :evento_status, Evento::STATUS.map{|status| [status[1], status[0]]} %>
  </p>
  
  <!-- ###### PROPOSTSAS ##### -->
  <% if !@evento.propostas.empty? %>
	  <p>
		Propostas:<br />
		<%= form.fields_for :propostas do |proposta| %>
			<%= proposta.text_field :descricao %> (<%= proposta.text_field :ativa %>) 
			[
				<%= link_to 'Ativar', evento_proposta_path(@evento, proposta.object.id, ativa: true ), remote: true, :method => :put %> | 
				<%= link_to 'Desativar', evento_proposta_path(@evento, proposta.object.id, ativa: false ), remote: true, method: :put %>
			]<br />
		<% end %>

	  </p>
  <% end %>
  
  <% if !@evento.id.nil? %>
  	  <p>
		<%= link_to 'Adicionar proposta', new_evento_proposta_path(@evento) %>
	  </p>
  <% end %>
  
  <!-- ###### HISTORICOS ##### -->
  <% if !@evento.historicos.empty? %>
	  <p>
		Propostas:<br />
		<%= form.fields_for :historicos do |historico| %>
			<%= historico.text_field :descricao %>
			<br />
		<% end %>
	  </p>
  <% end %>
  
  <% if !@evento.id.nil? %>
  	  <p>
		<%= link_to 'Adicionar historico', new_evento_historico_path(@evento) %>
	  </p>
  <% end %>
  
  <p>
    <%= form.submit "Salvar" %>
  </p>
<% end %>