<div id='historico_<%= :id %>'>
	<p>
		<%= historico.label :created_at, 'Criado em:' %><%= historico.text_field :created_at %><br />
		<%= historico.label :descricao %><%= historico.text_field :descricao %>
	</p>
</div>

