<h1>Eventos</h1>


<%= form_for(eventos_path, method: "get") do %>
	<%= select_tag(:status_id, options_for_select(Evento::STATUS.each, :last, :first) ) %>
	<%= submit_tag "Filtrar", name: nil %>
<% end %>

<table border='1'>
	<tr>
		<th>Cliente</td>
		<th>Data</td>
		<th>Local</td>
		<th>Tipo de Evento</td>
		<th>Status</th>
		<th>Proposta</th>
		<th>Último Contato em</th>
		<th>Histórico</th>
		<th>Editar</td>
		<th>Desativar</td>
	</tr>
	
	<% @eventos.each do |evento| %>
	<tr>
		<td><%= evento.cliente.nome %></td>
		<td>
			<%= if not evento.data_evento.nil?
					raw evento.data_evento.to_formatted_s(:short)
				else
					raw ''
				end
			%>
		</td>
		<td><%= evento.local.nome %></td>
		<td><%= evento.tipo_evento.descricao %></td>
		<td><%= Evento::STATUS[evento.evento_status] %></td>
		<td>000000</td>
		<td>
		<%=
			if not evento.historicos.last.nil?
				raw evento.historicos.last.created_at.to_formatted_s(:short)
				#raw '<td>' + evento.historicos.last.created_at.to_s() + '</td>'
			else
				raw ''
			end
		%>
		</td>
		<td><%= link_to 'Ver histórico', evento_path(evento) %></td>
		<td><%= link_to 'Editar', edit_evento_path(evento) %></td>
		<td><%= link_to 'Desativar', evento_path(evento), 
					method: :delete,
					data: { confirm: 'Tem certeza que deseja excluir este evento?' }  %></td>
	</tr>
	<% end %>
</table>

<p>
	<%= link_to 'Adicionar', new_evento_path %>

</p>