<div id="filters">
   <fieldset>
	  <legend>Filtros</legend>
	
	  <%= form_tag(eventos_path, method: "get") do %>
		 <%= text_field_tag :nome, 'Nome' , class: "combo_autocomplete nome", value: params[:nome].nil? ? 'Nome' : params[:nome] %>
		 <%= select_month( @mes_default, field_name: "mes", prompt: "Mês" ) %>
		 <%= select_year( @ano_default, field_name: "ano", start_year: 2018, end_year: 2040, prompt: "Ano") %>
		 <%= select_tag(:evento_status, options_from_collection_for_select(Evento::STATUS, :first, :last), {prompt: 'Status do evento'} ) %>
		 <%= submit_tag "Filtrar" %>
	   <% end %>
   </fieldset>
</div>

<div id="results" class="container">
   <% @eventos.each do |evento| %>
	  <div id="results-evento" style="background-color:<%= evento.cor_fundo %>" class="card" data-source-event-id="<%= evento.id %>">
	     <div class="icon">
			 <%= image_tag evento.img, alt: evento.tipo_evento.descricao %>
		 </div>
		 
		 <div class="description">
			 <label><%= evento.data %></label>
			 <label>
				 <% if evento.local.nil? %>
					 "Não definido"
				 <% else %>
					 <%= evento.local.nome %>
				 <% end %>
			 </label>

			 <label>
			 <%= Evento::STATUS[evento.evento_status] %>
			 </label>
		 </div>	 
		 

		 <div class="action">
		 	 <%= link_to image_tag('view.png', id: 'view', alt: 'Visualizar', class: 'action'), 
		 	 	evento_path(evento), title: 'Visualizar', rel: 'Visualizar', remote: true %>

			 <%= link_to image_tag('edit.png', id: 'edit', alt: 'Editar', class: 'action'), 
		 	 	edit_evento_path(evento), title: 'Editar', rel: 'Editar', remote: false %>

			 <%= image_tag 'delete.png', id: 'delete', alt: 'Delete', class: 'action' %>
		 </div>
		 
		 <div id="details" style="display: none;">
			 Cliente: <%= evento.cliente.nome %> | 
			 Proposta: 123123<br />
		 
			 <%= evento.data_ultimo_contato%>
			 <!--td><%= link_to 'Ver histórico', evento_path(evento) %></td>
			 <td><%= link_to 'Editar', edit_evento_path(evento) %></td>
			 <td><%= link_to 'Desativar', evento_path(evento), 
					 method: :delete,
					 data: { confirm: 'Tem certeza que deseja excluir este evento?' }  %></td-->
		 </div>
	  </div>
	<% end %>
   
   	
   </div>
</div>
<div>