<h1>Criar novo usuário</h1>
<%= form_for :cliente, url: clientes_path do |form| %>

  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2>
        Nao foi possivel salvar o cliente pois encontramos <%= @cliente.errors.count %> erros.</br>
        Veja:	
      </h2>
      <ul>
        <% @cliente.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    <%= form.label :nome %><br>
    <%= form.text_field :nome %>
  </p>
 
  <p>
    <%= form.label :telefone %><br>
    <%= form.text_area :telefone %>
  </p>
 
 <p>
    <%= form.label :email %><br>
    <%= form.text_area :email %>
  </p>
  
  <p>
    <%= form.submit %>
  </p>
  
  <%= link_to 'Lista de Clientes', clientes_path %>
<% end %>
